:root {
  --font-family: "Lato", sans-serif;
  --second-family: "Georgia", sans-serif;
  --emerald: #245852;
  --green: #01996d;
  --white: #fff;
  --black: #000;
  --gray: #484848;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0;
  padding: 0;
}

.container1370 {
  max-width: 1370px;
  margin: 0 auto;
}

.p_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray);
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: var(--green);
}

.card_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: var(--black);
}

.card_titleNumber {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  text-align: center;
  color: var(--emerald);
}

.button_hover:hover {
  background-color: #245852;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Be aware, Manage well. */
.header {}

.header_top {
  min-height: 85px;
}

.header_topGrid {
  display: grid;
  grid-template-columns: 80px 1fr 277px;
  padding-top: 25px;
}

.header_menu {
  display: flex;
  justify-self: center;
  gap: 72px;
}

.header_navLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--gray);
}

.header_navLink:hover {
  padding-bottom: 10px;
  border-bottom: #01996d solid 3px;
}

.header_TopButtonBox {
  justify-self: end;
}

.button_BoxSign {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--gray);
  margin-right: 20px;
}

.button_BoxSign:hover {
  padding-bottom: 10px;
  border-bottom: var(--green) solid 3px;
}

.button_BoxTrial {
  border-radius: 4px;
  padding: 13px 50px;
  width: 183px;
  height: 51px;
  background-color: var(--green);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
}

.header_BG {
  background-image: url(img/head_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 895px;
}

.header_title {
  max-width: 440px;
  padding-top: 175px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 65px;
  color: var(--green);
}

.header_text {
  max-width: 420px;
  padding-top: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 157%;
  color: var(--gray);
  margin-bottom: 50px;
}

.header_BottomButtonBox {
  border-radius: 4px;
  padding: 20px 50px;
  width: 227px;
  height: 65px;
  background: var(--green);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
}

/* How it works */
.label {}

.HowItWork {
  padding-top: 169px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: var(--gray);
}

.HowItWork_h4 {
  padding-top: 15px;
}

.HowItWork_TopBoxFlex {
  display: flex;
  justify-content: space-between;
}

.HowItWork_Title {
  max-width: 584px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: var(--green);
}

.HowItWork_text {
  max-width: 671px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray);
  padding-top: 20px;
}

.HowItWork_BoxCardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
  gap: 15px;
}

.Card2 {
  padding-top: 200px;
}

.Card3 {
  padding-top: 30px;
}

.HowItWork_CardNumber {
  /* justify-self: start; */
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  color: rgba(1, 153, 109, 0.2);
  position: relative;
}

.HowItWork_CardTitle {
  position: absolute;
  top: 135px;
  right: 85px;
  left: 0;
}

.title2 {
  right: 0;
}

.title3 {
  right: 100px;
}

.HowItWork_text {
  max-width: 382px;
  margin-bottom: 60px;
}
.HowItWork_picture{
  display: block;
  width: 100%;
}

/* Let's hear about Kayla's success story */
.label {}

.LetsHearAbout {
  min-height: 922px;
  background-color: var(--emerald);
}

.LetsHearAbout_BoxFlex {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 229px 15px;
  gap: 15px;
}

.LetsHearAbout_Info {
  padding-top: 70px;
}

.LetsHearAbout_TitleInfo {
  max-width: 580px;
  color: var(--white);
  margin-bottom: 30px;
}

.LetsHearAbout_TextInfo {
  max-width: 550px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: var(--white);
  margin-bottom: 70px;
}

.LetsHearAbout_ButtonInfo {
  border-radius: 4px;
  padding: 20px 50px;
  width: 245px;
  height: 65px;
  background: var(--green);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: var(--white);
}

.LetsHearAbout_video-container {
  position: relative;
  max-width: 895px;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 895 / 515; 
  background-image: url(img/video.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.LetsHearAbout_Video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.LetsHearAbout_ButtonVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(img/play2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 10;
  opacity: 1;
}
.LetsHearAbout_Video::-webkit-media-controls {
  z-index: 5;
}

.LetsHearAbout_ButtonVideo:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.LetsHearAbout_ButtonVideo:active{
  background-image: none;
}

.LetsHearAbout_Video.playing ~ .LetsHearAbout_ButtonVideo {
  opacity: 0;
  pointer-events: none;
}

/* Our product */
.label {}

.OurProduct {
  min-height: 768px;
  padding-top: 120px;
  margin-bottom: 168px;
}

.OurProduct_BoxFlex {
  display: flex;
  justify-content: space-between;
}

.OurProduct_BoxImage {
  position: relative;
  max-width: 638px;
  width: 100%;
  min-height: 573px;
}

.OurProduct_ImageBG {
  border-radius: 18px;
  max-width: 638px;
  width: 100%;
  background-color: rgba(1, 153, 109, 0.2);
  position: absolute;
  left: 10%;
}

.OurProduct_Image {
  display: block;
  max-width: 429px;
  width: 100%;
  justify-self: center;
  background-repeat: no-repeat;
  background-position: center;
}

/* Mini Card*/
.OurProduct_BoxImageCard {
  border-radius: 4px;
  max-width: 296px;
  width: 100%;
  height: 293px;
  background: var(--white);
  box-shadow: 0 4px 18px 0 rgba(165, 165, 165, 0.25);
  position: absolute;
  top: 60%;
  z-index: 1;
}

.OurProduct_ImageTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: var(--black);
  padding-top: 22px;
}

.OurProduct_ImageLine {
  width: 110px;
  height: 1px;
  background-color: var(--black);
  margin: 0 auto;
  margin-bottom: 13px;
}

.OurProduct_ImageMini {
  border-radius: 100%;
  background: rgba(1, 153, 109, 0.2);
  display: block;
  margin: 0 auto;
}

.OurProduct_ImageName {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 157%;
  text-align: center;
  color: var(--black);
  padding-top: 10px;
  margin-bottom: 20px;
}

.OurProduct_ImageBoxTextMini {
  padding-left: 60px;
}

.OurProduct_ImageTextMini1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 157%;
  color: var(--black);
  margin-bottom: 20px;
}

.OurProduct_ImageTextMini2,
.OurProduct_ImageTextMini3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 157%;
  color: var(--black);
  margin-bottom: 15px;
}
/* End Mini Card */

.OurProduct_BoxInfo {
  max-width: 584px;
}

.OurProduct_TextTop {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: var(--gray);
}

.OurProduct_Text {
  margin-bottom: 60px;
}

.OurProduct_button {
  border-radius: 4px;
  padding: 20px 50px;
  width: 227px;
  height: 65px;
  background: var(--green);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: var(--white);
}

/* footer */
.label {}

.footer {
  height: 654px;
  background: var(--emerald);
}

.footer_Img {
  padding-top: 100px;
  margin-bottom: 60px;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer_link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 25px;
  color: var(--white);
}

.footer_link:hover {
  padding-bottom: 10px;
  border-bottom: var(--white) solid 3px;
}

@media screen and (max-width:1400px) {
  .header_top,
  .header_LeftInfoBlock,
  .footer,
  .HowItWork,
  .OurProduct_BoxFlex,
  .LetsHearAbout_Info {
    padding: 0 15px;
  }
  .HowItWork_h4 {
    padding-top: 25px;
  }

  .OurProduct_BoxFlex {
    flex-direction: column;
    align-items: center;
  }

  .OurProduct_ImageBG {
    margin-bottom: 20px;
  }

  .OurProduct_BoxInfo {
    padding-top: 200px;
    margin: 0 auto;
  }

  .LetsHearAbout_BoxFlex {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
  }
  .footer_Info{
    max-width: 584px;
    margin: 0 auto;
  }
}

@media screen and (max-width:1280px) {
  .HowItWork_BoxCardsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header_topGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
  }
  
  .header_topGrid {
    margin-bottom: 25px;
  }

  .header_TopButtonBox {
    margin: 0 auto;
  }

  .HowItWork_h4 {
    text-align: center;
  }

  .HowItWork_TopBoxFlex {
    flex-direction: column;
    align-items: center;
  }

  .footer_Img {
    display: block;
    margin-bottom: 60px;;
  }
}

@media screen and (max-width:768px) {
  .header_menu{
    gap: 25px;
  }
  .OurProduct_BoxFlex {
    flex-direction: column;
    gap: 25px;
  }
  .OurProduct_BoxImage{
    position: static;
    display: block;
    width: 100%;
  }
  .OurProduct_ImageBG{
    position: static;
  }
  .OurProduct_BoxImageCard{
    position: static;
    margin: 0 auto;
  }
  .OurProduct_BoxInfo{
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .LetsHearAbout_ButtonVideo {
    background-image: none;
  }
}
@media screen and (max-width:450px){
  .header_menu{
    flex-wrap: wrap;
    justify-content: center;
  }
}